.item-property-hosted {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}
.item-property-hosted:hover {
    border: 2px solid black;
    background-color: #EEEEEE;
}

.item-property-hosted-thumb {
    width: 150px;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.item-property-hosted-infoframe {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.item-property-hosted-pid {
    font-size: smaller;
    color: gray;
}

.item-property-hosted-title {
    font-size: x-large;
    font-weight: bolder;
}

.item-property-hosted-type {
    font-size: smaller;
    color: gray;
}

.item-property-hosted-facility {
    font-size: smaller;
    color: gray;
}

.item-property-hosted-reviews {
    font-size: smaller;
    color: gray;
}

.item-property-hosted-price {
    font-size: x-large;
    font-weight: bolder;
}

.item-property-hosted-actiongroup-btn {
    background: none;
    border: 2px solid navy;
    color: navy;
}
.item-property-hosted-actiongroup-btn:hover {
    background-color: navy;
    color: white;
}