.applicant-container {
    border: 1px solid navy;
    padding: 20px;
}


.booking-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.booking-item {
    width: 100%;
    padding: 5px 0;
    font-size: small;
}

.review-container {
    width: 100%;
}