.detailinfo-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
}

.detailinfo-title {
    font-size: x-large;
    font-weight: bolder;
}

.detailinfo-type {
    font-size: smaller;
    color: gray;
}

.detailinfo-facility {
    font-size: smaller;
    color: gray;
}
.detailinfo-price {
    font-size: x-large;
    font-weight: bolder;
}